extends /_layout/_default-layout

append config-block
  - pageId = 'index'
  - dataPath = `${rootPath}data/`

mixin cfm-card(opts)
  -
    const { title, link, picture, filename } = opts;

  .cfm-card
    a.elm-a(href= link)
      .card.mdl-card.mdl-shadow--2dp(style=`background: url('${picture}') center / cover`)
        .title.mdl-card__title.mdl-card--expand
          h2.heading
            = title
        .actions.mdl-card__actions
          span.filename.demo-card-image__filename
            = filename

block content-block
  header.index-header
    h1.title
      = settings.site_name

  main
    .cfm-index
      ul.list
        each item in works
          +cfm-card({
            title: item.id,
            link: `${rootPath}detail/${item.id}.html`,
            picture: `${dataPath}${item.picture}`,
            filename: item.picture,
          })
