extends /_layout/_default-layout

append config-block
  - pageId = 'index'
  - dataPath = `${rootPath}data/`

block content-block
  header
    h1
      = settings.site_name

  main
    ul
      each item in works
        li.item
          a(href=`${rootPath}detail/${item.id}.html`)
            img(src=`${dataPath}${item.id}.png`, alt= item.id)
