extends /_layout/_default-layout

append config-block
  - pageId = 'detail'
  - rootPath = '../'
  - dataPath = `${rootPath}data/`

mixin cfm-layout(opts)
  -
    const { layoutTitle, drawerTitle, works } = opts;

  .cfm-layout
    .layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.header.mdl-layout__header.mdl-layout__header--transparent
        .header-row.mdl-layout__header-row
          //- Title
          h1.layout-title.mdl-layout-title
            = meta.id
          //- Add spacer, to align navigation to the right
          .layout-spacer.mdl-layout-spacer
          //- Navigation
          nav.navigation.mdl-navigation
            a.link.mdl-navigation__link(href= rootPath)
              | Home
      .drawer.mdl-layout__drawer
        span.title.mdl-layout-title
          = drawerTitle
        nav.navigation.mdl-navigation
          each item in works
            a.link.mdl-navigation__link(href=`${rootPath}detail/${item.id}.html`)
              = item.id
      main.main.mdl-layout__content
        block

block content-block
  +cfm-layout({
    layoutTitle: meta.id,
    drawerTitle: '作品一覧',
    works,
  })
    .picture
      img(src=`${dataPath}${meta.picture}`, alt= meta.id)
    .video
      video(src=`${dataPath}${meta.video}`, controls)
