extends /_layout/_default-layout

append config-block
  - pageId = 'detail'
  - rootPath = '../'
  - dataPath = `${rootPath}data/`

block content-block
  header
    h1
      = meta.id

  main
    .picture
      img(src=`${dataPath}${meta.picture}`, alt= meta.id)
    .video
      video(src=`${dataPath}${meta.video}`, controls)
